

.home-page {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100vh; 
}

.content {
    flex: 1;
    overflow-y: auto; /* This enables vertical scrolling for the content */
    padding: 20px;
}

.home-page .div {
    background-color: #ffffff;
    height: 932px;
    position: relative;
    width: 430px;
}

.home-page .overlap {
    background-color: #ecece9;
    border-radius: 22px;
    height: 139px;
    left: 0;
    position: absolute;
    top: -39px;
    width: 430px;
}

.home-page .group {
    background: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, rgb(186, 223, 231) 100%);
    border-radius: 36.5px;
    height: 73px;
    left: 178px;
    position: absolute;
    top: 53px;
    width: 73px;
}

.home-page .logo-group {
    height: 59px;
    left: 9px;
    position: absolute;
    top: 7px;
    width: 51px;
}

.home-page .overlap-group {
    background-color: #f2fbe0;
    border: 1px solid;
    border-color: #388087;
    border-radius: 16px;
    height: 32px;
    left: 387px;
    position: absolute;
    top: 53px;
    width: 32px;
}

.home-page .vector {
    height: 20px;
    left: 5px;
    position: absolute;
    top: 5px;
    width: 19px;
}

.home-page .group-wrapper { /* bottom rectangle*/ 
    background-color: #ecece9;
    border-radius: 22px;
    box-shadow: 0px 4px 4px #00000040;
    height: 93px;
    left: -3px;
    position: absolute;
    top: 888px;
    width: 430px;
}

.home-page .group-2 {
    height: 9px;
    left: 184px;
    position: relative;
    top: 14px;
    width: 69px;
}

.home-page .rectangle { /* small dot on bottom*/
    border: 1px solid;
    border-color: #388087;
    border-radius: 12px;
    height: 9px;
    left: 0;
    position: absolute;
    top: 0;
    width: 9px;
}

.home-page .rectangle-2 { /* yellow dot on bottom*/ 
    background-color: #ffe78b;
    border: 1px solid;
    border-color: #388087;
    border-radius: 12px;
    height: 9px;
    left: 30px;
    position: absolute;
    top: 0;
    width: 9px;
}

.home-page .rectangle-3 {
    border: 1px solid;
    border-color: #388087;
    border-radius: 12px;
    height: 9px;
    left: 60px;
    position: absolute;
    top: 0;
    width: 9px;
}

.home-page .rectangle-tasks {
   
    border-radius: 24px;
    height: 185px;
    left: 51px;
    position: absolute;
    top: 215px;
    width: 328px;
}

.home-page .rectangle-4 {
    background-color: #badfe7;
    border-radius: 24px;
    height: 185px;
    left: 51px;
    position: absolute;
    top: 215px;
    width: 328px;
}

.home-page .rectangle-5 {
    background-color: #badfe7;
    border-radius: 24px;
    height: 185px;
    left: 51px;
    position: absolute;
    top: 449px;
    width: 328px;
}

.home-page .rectangle-6 {
    background-color: #badfe7;
    border-radius: 24px;
    height: 185px;
    left: 51px;
    position: absolute;
    top: 683px;
    width: 328px;
}

.home-page .overlap-group-wrapper {
    height: 14px;
    left: 303px;
    position: absolute;
    top: 116px;
    width: 111px;
}

.home-page .div-wrapper {
    background-color: #ffe78b;
    border-radius: 13px;
    height: 14px;
    position: relative;
    width: 109px;
}

.home-page .text-wrapper {
    color: #388087;
    font-family: "Inter-Regular", Helvetica;
    font-size: 10px;
    font-weight: 400;
    left: 33px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
}

.home-page .text-wrapper-2 {
    color: #388087;
    font-family: "Inter-Bold", Helvetica;
    font-size: 50px;
    font-weight: 700;
    left: 133px;
    letter-spacing: 3.25px;
    line-height: normal;
    position: absolute;
    top: 133px;
}

.button-container .button,
.button-container a.button,
.button-container button,
.button-container nav li,
.button-container [type=submit],
.button-container [type=reset],
.button-container [type=button] {
  display: inline-block;
  border: 1px solid #fff; 
  border-radius: 10px;
  background: #6fb3b8; /* White background for buttons */
  color: white; /* Dark text color for buttons */
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  text-transform: none;
  padding: 0.75rem 1.25rem;
  margin: 0 0 0.5rem 0;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
  bottom: 20px;
  position: relative;
  top: 10px;
}

.button-container .button:hover,
.button-container a.button:hover,
.button-container button:hover,
.button-container nav li:hover,
.button-container [type=submit]:hover,
.button-container [type=reset]:hover,
.button-container [type=button]:hover {
  border: 1px solid #ddd; /* Lighter border on hover */
  background: #ffe78b; /* Lighter background on hover */
}

.button-container{
    display: flex;
    flex-direction: row;
    gap: 40px;
    width: 90%;
    align-items: center;
    justify-content: center;
  }
  
  
nav li:hover, 
.button-container button:hover{
  background-color: #008080;
}


form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  
  input{
    background-color: #008080;
    border-color: #008080;
    color: #264447;
    border-style: double;
    border-radius: 8px;
    margin-bottom: 30px;
    width: 300px;
  }
  
  table{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
  }
  
  .box-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding-bottom: 30px; */ 
  }
  
  .scroll-container{
    max-height: 69vh;
    overflow-y: auto;
  }
  .chore-box{
    background-color: #badfe7;
    width: 300px;
    height: fit-content;
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-left: 15px;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* padding-left: 60px; */
  }
  
  .chore-box div{
    margin-bottom: 10px;
    text-align: center;
  }
  
