

.home-page {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100vh; 
}

.content {
    flex: 1;
    overflow-y: auto; 
    padding: 20px;
}

.home-page .div {
    background-color: #ffffff;
    height: 932px;
    position: relative;
    width: 430px;
}

.home-page .overlap {
    background-color: #ecece9;
    border-radius: 22px;
    height: 139px;
    left: 0;
    position: absolute;
    top: -39px;
    width: 430px;
}

.home-page .group {
    background: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, rgb(186, 223, 231) 100%);
    border-radius: 36.5px;
    height: 73px;
    left: 178px;
    position: absolute;
    top: 53px;
    width: 73px;
}

.home-page .logo-group {
    height: 59px;
    left: 9px;
    position: absolute;
    top: 7px;
    width: 51px;
}

.home-page .rectangle-tasks {
   
    border-radius: 24px;
    height: 185px;
    left: 51px;
    position: absolute;
    top: 215px;
    width: 328px;
}

.home-page .history-text {
    color: #388087;
    font-family: "Inter-Regular", Helvetica;
    font-size: 10px;
    font-weight: 400;
    left: 33px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
}

.home-page .home-text {
    color: #388087;
    font-family: "Inter-Bold", Helvetica;
    font-size: 50px;
    font-weight: 700;
    left: 133px;
    letter-spacing: 3.25px;
    line-height: normal;
    position: absolute;
    top: 133px;
}

.poll-option1 .button,
.poll-option1 a.button,
.poll-option1 button,
.poll-option1 nav li,
.poll-option1 [type=submit],
.poll-option1 [type=reset],
.poll-option1 [type=button] {
  display: inline-block;
  border: 1px solid #fff; 
  border-radius: 10px;
  background: #6fb3b8; 
  color: white;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  text-transform: none;
  padding: 0.75rem 1.25rem;
  margin: 0 0 0.5rem 0;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
  bottom: 20px;
  position: relative;
  top: 10px;
}

.poll-option1 .button:hover,
.poll-option1 a.button:hover,
.poll-option1 button:hover,
.poll-option1 nav li:hover,
.poll-option1 [type=submit]:hover,
.poll-option1 [type=reset]:hover,
.poll-option1 [type=button]:hover {
  border: 1px solid #ddd; 
  background: #ffe78b; 
}

.poll-option2 .button,
.poll-option2 a.button,
.poll-option2 button,
.poll-option2 nav li,
.poll-option2 [type=submit],
.poll-option2 [type=reset],
.poll-option2 [type=button] {
  display: inline-block;
  border: 1px solid #fff; 
  border-radius: 10px;
  background: #6fb3b8; 
  color: white;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  text-transform: none;
  padding: 0.75rem 1.25rem;
  margin: 0 0 0.5rem 0;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
  bottom: 20px;
  position: relative;
  top: 10px;
}

.poll-option2 .button:hover,
.poll-option2 a.button:hover,
.poll-option2 button:hover,
.poll-option2 nav li:hover,
.poll-option2 [type=submit]:hover,
.poll-option2 [type=reset]:hover,
.poll-option2 [type=button]:hover {
  border: 1px solid #ddd; 
  background: #ffe78b; 
}


.poll-delete .button,
.poll-delete a.button,
.poll-delete button,
.poll-delete nav li,
.poll-delete [type=submit],
.poll-delete [type=reset],
.poll-delete [type=button] {
  display: inline-block;
  border: 1px solid #fff; 
  border-radius: 10px;
  background: #6fb3b8; 
  color: white;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  text-transform: none;
  padding: 0.75rem 1.25rem;
  margin: 0 0 0.5rem 0;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
  bottom: 20px;
  position: relative;
  top: 10px;
}

.poll-delete .button:hover,
.poll-delete a.button:hover,
.poll-delete button:hover,
.poll-delete nav li:hover,
.poll-delete [type=submit]:hover,
.poll-delete [type=reset]:hover,
.poll-delete [type=button]:hover {
  border: 1px solid #ddd; 
  background: #ffe78b; 
}




.poll-options-container {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 40px;
    margin-bottom: 10px; /* Adds space between options and delete button */
}

.poll-delete {
    width: 100%;
    text-align: center;
}


.poll-title {
    color: #388087;
    font-family: "Inter-Bold", Helvetica;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bolder;

}

.chore-name {
    color: #388087;
    font-family: "Inter-Bold", Helvetica;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bolder;
}

.chore-date {
    color: #388087;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
}

.chore-assignee {
    color: #388087;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
}

input{
    background-color: #008080;
    border-color: #008080;
    color: #264447;
    border-style: double;
    border-radius: 8px;
    margin-bottom: 30px;
    width: 300px;
}

table{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

.box-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.chore-box{
    background-color: #badfe7;
    width: 300px;
    height: fit-content;
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-left: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}
  
.chore-box div{
    margin-bottom: 10px;
    text-align: center;
}
  

.home-page .overlap-group-wrapper {
    height: 14px;
    left: 303px;
    position: absolute;
    top: 116px;
    width: 111px;
}

.home-page .div-wrapper {
    background-color: #ffe78b;
    border-radius: 13px;
    height: 14px;
    position: relative;
    width: 109px;
}

.home-page .text-wrapper {
    color: #388087;
    font-family: "Inter-Regular", Helvetica;
    font-size: 10px;
    font-weight: 400;
    left: 33px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
}

.home-page .poll-complete{
    color: #388087;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    text-transform: uppercase;
}

.home-page .vote-recorded{
    color: #388087;
    font-family: "Inter-Regular", Helvetica;
    font-size: 15px;
    text-transform: uppercase;
}